<div class="centrar">
    <mat-toolbar color="primary">
      <h1>Administración de Reuniones</h1>
    </mat-toolbar>

    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link routerLink="./carga-reunion" routerLinkActive="active"> Carga de Reunión </a>
      <a mat-tab-link routerLink="./listado-reuniones" routerLinkActive="active"> Listado de Reuniones </a>
      <a mat-tab-link routerLink="/login" routerLinkActive="active"> Salir </a>
    </nav>
    
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>

</div>
  