.caja {
  display: contents;
}

.fila {
  background-color: rgb(232, 231, 245);
  height: fit-content;
  min-height: 60px;
  margin: 5px auto 5px auto;
  max-width: 80%;
}

.colorMensaje {
  color: rgb(103, 58, 183);
}
