<div>
    <h2>Agregar Reunión</h2>
    <form [formGroup]="formularioReunion" (ngSubmit)="onSubmitAgregarReunion()">
        <div>
            <mat-form-field>
                <label for="dia">Día:</label>
                <mat-select id="dia" formControlName="dia">
                    <mat-option value="Lunes">Lunes</mat-option>
                    <mat-option value="Martes">Martes</mat-option>
                    <mat-option value="Miércoles">Miércoles</mat-option>
                    <mat-option value="Jueves">Jueves</mat-option>
                    <mat-option value="Viernes">Viernes</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="hora">Hora:</label>
                <input matInput type="number" id="hora" formControlName="hora" min="8" max="22" />
                <span class="warming" *ngIf="formularioReunion.get('hora')?.hasError('required') && formularioReunion.get('hora')?.touched">El campo hora es requerido</span>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="duracion">Duración:</label>
                <input matInput type="number" id="duracion" formControlName="duracion" min="1" max="14" />
                <span class="warming" *ngIf="formularioReunion.get('hora')?.hasError('required') && formularioReunion.get('hora')?.touched">El campo duración es requerido</span>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="detalle">Detalle:</label>
                <input matInput type="text" id="detalle" formControlName="detalle" />
                <span class="warming" *ngIf="formularioReunion.get('hora')?.hasError('required') && formularioReunion.get('hora')?.touched">El campo detalle es requerido</span>
            </mat-form-field>
        </div>  
      <button mat-raised-button color="primary" type="submit" [disabled]="formularioReunion.invalid">Agregar Reunión</button>
    </form>
    <br>
    <h3 class="verde">{{ mensaje }}</h3>
  </div>
  
  