<form class="formulario-estilo" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <mat-form-field>
      <mat-label>ID del perro</mat-label>
      <input matInput type="text" formControlName="idPerro">
    </mat-form-field>
  </div>
  <mat-error *ngIf="formulario.controls['idPerro'].invalid">{{getErrorMessage()}}</mat-error>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Nombre del perro</mat-label>
      <input matInput type="text" formControlName="nombrePerro">
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Estado del perro</mat-label>
      <input matInput type="text" formControlName="estadoPerro">
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Tamaño del perro</mat-label>
      <mat-select formControlName="tamanoPerro">
        <mat-option value="pequeno">Pequeño (1 a 10 kg)</mat-option>
        <mat-option value="mediano">Mediano (10 a 25 kg)</mat-option>
        <mat-option value="grande">Grande (más de 25 kg)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Color del pelaje del perro</mat-label>
      <mat-select formControlName="colorPerro">
        <mat-option value="negro">Negro</mat-option>
        <mat-option value="blanco">Blanco</mat-option>
        <mat-option value="arena">Arena</mat-option>
        <mat-option value="chocolate">Chocolate</mat-option>
        <mat-option value="rojizo">Rojizo</mat-option>
        <mat-option value="atigrado">Atigrado</mat-option>
        <mat-option value="gris">Gris</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Largo del pelaje</mat-label>
      <mat-select formControlName="longitudPelaje">
        <mat-option value="corto">Corto hasta 4 cm</mat-option>
        <mat-option value="medio">Medio entre 4 a 10 cm </mat-option>
        <mat-option value="largo">Largo más de 10 cm</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Distintivo</mat-label>
      <input matInput type="text" formControlName="distintivo" placeholder="cicatriz, mancha, etc">
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-checkbox formControlName="activo">Activo</mat-checkbox>
  </div>

  <button mat-raised-button color="primary" (click)="registrarPerro()" type="button">Registrar</button>
</form>
  
